<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyCRM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="border-bottom: 1px solid #6c757d;">
        @Html.ActionLink("MyCRM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Dashboard", "Index", "Dashboard", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Customers", "Index", "Customer", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Accounts", "Index", "Accounts", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Memberships", "Index", "Membership", null, new { @class = "nav-link" })</li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li><a href="mailto:team@mycrm.com"><span class="glyphicon glyphicon-envelope"></span></a></li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MyCRM</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
