@using PagedList.Mvc;
@model PagedList.IPagedList<MyCRM.Models.Customer>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Customers";
}

<div>
    <h2>Customers</h2>
    <p style="font-size:1.2em;" class="text-muted">Complete list of Customers!</p>
</div>

<hr />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover crm-table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Account.AccountName)*@
            @Html.DisplayName("Account Name")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            @Html.DisplayName("Name")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Email)*@
            @Html.DisplayName("Email")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Phone)*@
            @Html.DisplayName("Phone")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
