@model MyCRM.Models.DashboardViewModel

@{ 
    ViewBag.Title = "Dashboard";
}
<div>
    <h2>Dashboard</h2>
    <p style="font-size:1.2em;" class="text-muted">Use the Dashboard to view all of your customers in the same place!</p>
</div>

<hr />

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString", "", new { @placeholder = "Search", @class="search-input" })
        <input class="search-btn" type="submit" value="Search"/>
    </p>
}

<hr />

<table class="table table-hover crm-table">
    <tr>
        <th></th>
        <th>
            @Html.ActionLink("Customer", "Index", new { order = ViewBag.CustomerSortParm })  <a href="~/Customer/Create" target="_blank" class="dashboard-icon"><span class="glyphicon glyphicon-plus"></span></a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accounts) <a href="~/Accounts/Create" target="_blank" class="dashboard-icon"><span class="glyphicon glyphicon-plus"></span></a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memberships) <a href="~/Membership/Create" target="_blank" class="dashboard-icon"><span class="glyphicon glyphicon-plus"></span></a>
        </th>
    </tr>
    @foreach (var customer in Model.Customers)
    {
    <tr>
        <td>
            @Html.ActionLink("Edit", "EditCustomer", new { id = customer.ID })
        </td>
        <td>
            @Html.DisplayFor(m => customer.Name)
        </td>
        <td>
            @Html.DisplayFor(m => m.GetCustomerAccount(customer).AccountName)
        </td>
        <td>
            @Html.DisplayFor(m => m.Memberships.FirstOrDefault(e => e.CustomerID == customer.ID).MembershipLevel)
        </td>
    </tr>
    }
</table>

<hr />

