@model MyCRM.Models.DashboardViewModel

@{ 
    ViewBag.Title = "Dashboard";
}
<div>
    <h2>Dashboard</h2>
    <p class="text-muted">Use the Dashboard to view all of your customers and accounts in the same place!</p>
</div>

<hr />

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString", "", new { @placeholder = "Search Customers...", @class="search-input" })
        <input class="btn btn-outline-primary ml-1 px-3" style="margin-top: -4px; padding-top: 5px; padding-bottom: 6px;" type="submit" value="Go!"/>
    </p>
}

<hr />

<table class="table crm-table">
    <tr>
        <th></th>
        <th>
            @Html.ActionLink("Customer", "Index", new { order = ViewBag.CustomerSortParm })  <a href="~/Customer/Create" class="dashboard-icon"><i class="fa fa-plus-square fa-lg plus-icon"></i></a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accounts) <a href="~/Accounts/Create" class="dashboard-icon"><i class="fa fa-plus-square fa-lg plus-icon"></i></a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memberships) <a href="~/Membership/Create" class="dashboard-icon"><i class="fa fa-plus-square fa-lg plus-icon"></i></a>
        </th>
    </tr>
    @foreach (var customer in Model.Customers)
    {
    <tr>
        <td>
            @Html.ActionLink("Edit", "EditCustomer", new { id = customer.ID })
        </td>
        <td>
            @Html.DisplayFor(m => customer.Name)
        </td>
        <td>
            @Html.DisplayFor(m => m.GetCustomerAccount(customer).AccountName)
        </td>
        <td>
            @Html.DisplayFor(m => m.Memberships.FirstOrDefault(e => e.CustomerID == customer.ID).MembershipLevel)
        </td>
    </tr>
    }
</table>

<hr />

